<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    bean = 对象 一个bean-->
<!--    Hello hello =new Hello()-->
<!--    id对应的是hello（变量名）-->
<!--    class对应的是new Hello()-->
<!--    property相当于给属性赋值 name是属性的名字value是要给属性赋的值-->
<!--    name属性为起的别名 name更高级，可以同时取多个别名-->
<bean id="hello" class="com.lm.pojo.Hello" name="hello2,h2">
    <property name="name" value="Spring"/>
</bean>
</beans>